@charset "UTF-8";
@font-face {
    font-family: "fonts/MarckScript-Regular";
    src: url("fonts/MarckScript-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-family: "fonts/Asset-Regular";
    src: url("fonts/Asset-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-family: "fonts/Tillana-Regular";
    src: url("fonts/Tillana-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
body{

}

header{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 200px;
}
header>h1{
    padding: 50px 50px 10px 50px;
    font-family: "fonts/MarckScript-Regular";
    font-size:3.5em;
}
header>p{
    text-decoration: none;
    color: white;
    font-size:1.10em;
}
header>p>a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}
header>p>a:hover{
    text-decoration: underline;
    color: white;
}
main{
    font-family: "fonts/Tillana-Regular";
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}
section>p{
    margin: 20px;
	padding: 20px 20px 20px 20px;
	text-align: left;
	width: 390px;
}

article>p{
    margin: 20px;
	padding: 20px;
	text-align: left;
	width: 390px;
}
#container2{
    background-image: url('imagens/background001.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.482);
}
#conteudo2>p{
    background-color: rgba(255, 255, 255, 0.497);
    position: absolute;
    transform: translate(0, +50%);
}
#container4{
    background-image: url('imagens/background002.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 96vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.482);
}
article#condeudo4>p{
    background-color: rgba(255, 255, 255, 0.497);
}