@charset "UTF-8";
@font-face {
    font-family: "fonts/MarckScript-Regular";
    src: url("fonts/MarckScript-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-family: "fonts/Asset-Regular";
    src: url("fonts/Asset-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-family: "fonts/Tillana-Regular";
    src: url("fonts/Tillana-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}
*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
}
header{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
header>h1{
    padding-top: 50px;
    font-family: "fonts/MarckScript-Regular";
    font-size:10vh;
    font-variant: small-caps;
}
header>p{
    text-decoration: none;
    color: white;
    font-size:2.5vh;
    padding-bottom: 50px;
}
header>p>a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}
header>p>a:hover{
    text-decoration: underline;
    color: white
}
section{
	padding: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.8vh;

}
section.normal{
    font-family: "fonts/Tillana-Regular";
    font-weight: 600;
}
section.imagem{
    background-color: rgb(51,51,51);
    font-family: "fonts/Tillana-Regular";
    color: white;
    font-weight: 600px;
    background-attachment: fixed;
}
section.imagem>p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.251);
 
}

section#img01{
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.482);
}
section#img02{
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.482);
}





footer{
    background-color: black;
    color: white;
    font-size: 1.5em;
    text-align: center;
    height: 30px;
    padding: 10px;
}
footer>p>a{
    color: white;
    text-decoration: none;    
}
footer>p>a:hover{
    text-decoration: underline;
    color: rgb(33, 87, 28);
    font: 900;
}