@media screen and (min-width:600px) and (max-width: 768px) {
    body {
        background-image: url(../imagens/back-phone.jpg);
    }
}

@media screen and (min-width:768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#tv{display: none;}
    img#tablet{display: block;}
    img#pc{display: none;}
    img#print{display: none;}
    img#phone{display: none;}
}

@media screen and (min-width:992px) and (max-width:1200px){
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#tv{display: none;}
    img#tablet{display: none;}
    img#pc{display: block;}
    img#print{display: none;}
    img#phone{display: none;}
}

@media screen and (min-width:1200px){
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#tv{display: block;}
    img#tablet{display: none;}
    img#pc{display: none;}
    img#print{display: none;}
    img#phone{display: none;}
}

@media print {
    body{
        background-image:url(../imagens/back-print.jpg);
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }


    img#tv{display: none;}
    img#tablet{display: none;}
    img#pc{display: none;}
    img#print{display: block;}
    img#phone{display: none;}
}


