/*Declaçoes gerais*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica,sans-serif;
}

html,body {
    width: 100wh;
    height: 100vh;
    background-color: #233eff;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #1627a8;
    padding: 10px;
}

/*Declaçoes retrato*/
@media screen and (orientation: portrait) {
    body {
        background: url(../imagens/cev-portrait.jpg);        background-position: center bottom;
       
    }

}

/*Declaçoes paisagem*/
@media screen and (orientation: landscape) {
    body {
        background: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}